.nav{
    background-color: #232424;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    
}

#img{
    padding-top: 13px;
    float: left;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;  
    justify-content: flex-end; 
    text-decoration: none;
}
 
li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    padding-top: 15px
    
}
li a:hover{
    background-color: rgba(238, 178, 13, 0.822);
    color: black;
    text-decoration: none;
    
}
.aboutme{
    background-color: #333;
        
}
.col-md-6{
    margin-top: 200px;
}
.row h3{
    color:  rgba(238, 178, 13, 0.822);
}
.row p {
    color: rgba(255, 255, 255, 0.664);
}
.button1{
    background-color: rgba(238, 178, 13, 0.822);
    border: none;
    color: rgba(255, 255, 255, 0.664);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    
}
.button2{
    background-color: #333;
    border: 1px solid  rgba(238, 178, 13, 0.822);
    color: rgba(255, 255, 255, 0.664);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
   
}
.container-2 h2{
    color: rgba(238, 178, 13, 0.822);
    text-align: center;
    margin-top: 150px;
}
.box{
    padding: 40px;
    margin-bottom: 30px;
    background: #212222;
}
#servicios{
    margin-top: 80px;
    
}

#logo1{
    color: rgba(238, 178, 13, 0.822);
}
#logo2{
    color: rgba(238, 178, 13, 0.822);
}
#logo3{
    color: rgba(238, 178, 13, 0.822);
}
#logo4{
    color: rgba(238, 178, 13, 0.822);
}
#logo5{
    color: rgba(238, 178, 13, 0.822);
}
#logo6{
    color: rgba(238, 178, 13, 0.822);
}

.img{
    width: 1440px;
    height: 300px;
    display: relative; 
    margin-top: 100px  
}
.parte2{
    color: rgba(238, 178, 13, 0.822);
    text-align: center;
    margin-top: 70px;
}
