
.nav{
    background-color: #232424;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    
}
strong{
    color: rgba(238, 178, 13, 0.822)
}
#img{
    padding-top: 13px;
    float: left;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;  
    justify-content: flex-end; 
    text-decoration: none;
}
 
li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    padding-top: 15px
    
}
li a:hover{
    background-color: rgba(238, 178, 13, 0.822);
    color: white;
    text-decoration: none;
    
}

.prueba{
    position: absolute;
    color: white;
    top: 35%;
    left: 30%;
    text-align: center
    
}
.color{
    color: rgba(238, 178, 13, 0.822);
}

.button3{
    background-color:transparent; border: 1px solid  rgba(238, 178, 13, 0.822);
    color: rgba(255, 255, 255, 0.664);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;

   
}
.button3:hover {
    background: rgba(238, 178, 13, 0.822) ;
    color:white;
     
}
#texte{
     color :rgba(238, 178, 13, 0.822); 
     text-decoration: none;
}
/*parte header + carousel */



.bg{
    background-color:#232424;
        
}
.aboutimg{
    width: 350px;
    height: 350px;
}
.col-md-6{
    margin-top: 200px;
}
.row h3{
    color:  rgba(238, 178, 13, 0.822);
}
.row p {
    color: rgba(255, 255, 255, 0.664);
}
.button1{
    background-color: rgba(238, 178, 13, 0.822);
    border: none;
    color: rgba(255, 255, 255, 0.664);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    
}
.button1:hover {
    background: transparent ;
    color:white;
    border: 1px solid  rgba(238, 178, 13, 0.822);
    
     
}
.button2{
    background-color:transparent;
    border: 1px solid  rgba(238, 178, 13, 0.822);
    color: rgba(255, 255, 255, 0.664);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
   
}
.button2:hover {
    background: rgba(238, 178, 13, 0.822) ;
    color:white;
     
}
/*about me fini*/


.skills h1{
    color: rgba(238, 178, 13, 0.822);
    margin-top: 100px;
    text-align: center;
}


* {box-sizing: border-box}

.container-3 {
    width: 100%;
    background-color:#212222;
  }
.skills {
  text-align: left;
  padding: 3px;
  color: white;
}

.html {width: 90%; background-color:rgba(238, 178, 13, 0.822);}
.css {width: 80%; background-color: rgba(238, 178, 13, 0.822);}
.js {width: 50%; background-color: rgba(238, 178, 13, 0.822);}
.ds {width: 60%; background-color: rgba(238, 178, 13, 0.822);}
.ph {width: 60%; background-color: rgba(238, 178, 13, 0.822);}


/* parte skills terminada*/

.container-2 h2{
    color: rgba(238, 178, 13, 0.822);
    text-align: center;
    margin-top: 150px;
}
.box{
    padding: 40px;
    margin-bottom: 30px;
    background: #212222;
}

#servicios{
    margin-top: 80px;
    
}

#logo1{
    color: rgba(238, 178, 13, 0.822);
}
#logo2{
    color: rgba(238, 178, 13, 0.822);
}
#logo3{
    color: rgba(238, 178, 13, 0.822);
}
#logo3{
    color: rgba(238, 178, 13, 0.822);
}


.parte2{
    color: rgba(238, 178, 13, 0.822);
    text-align: center;
    margin-top: 70px;

}
 
.img{
    background-image: url("../../img/oferta-programador-web_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    
}




.button4{
    background-color:transparent; border: 1px solid  rgba(238, 178, 13, 0.822);
    color: rgba(255, 255, 255, 0.664);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    outline: none;

   
}
.button4:hover {
    background: rgba(238, 178, 13, 0.822) ;
    color:white;
    outline: none:
}


